.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardImg{
  height: 200px;
}
.cardStyle{
  width: 18rem;
  margin-bottom: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.cardStyle:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}